/************ Base styles ************/
* {
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;
    font-family: Times, Palatino, New Century Schoolbook, serif;*/
    font-family: URW Chancery L, Comic Sans MS, Comic Sans;
    font-size: 105%;
    margin: 0;
    padding: 0;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	font-weight: bold;
    margin-bottom: 55px;
    margin-top: 35px;
}

.row {
  width: 100%;
}

div{
	border: 1px solid black;
	background-color: #D3D3D3;
	position: relative;
}

h2{
	position: absolute;
	top: -1px;
    right: -1px;
    text-align: center;
    font-size: 1.25em;
    padding: 3px;
	border: 1px solid black;
}

#chichen {
	background-color: #ff8000;
	width: 124px;
}

#beef {
	background-color: #ff1a1a;
	width: 100px;
}

#sushi {
	background-color: #ffbf00;
	width: 110px;
}

p {
	position: relative;
    padding: 50px 20px 15px 20px;
    color: #1a0000;
}

/************ Large devices only (desktop) ************/
@media (min-width: 992px) {
	.lg {
  		float: left;
    	width: 30%;
    	margin-left: 2.5%;
    	margin-top: 2.5%;
      margin-bottom: 2.5%;
  	}
}

/************ Medium devices only (tablet) ************/
@media (min-width: 768px) and (max-width: 991px) {
	.md-tp1 {
  		float: left;
    	width: 46.25%;
    	margin-left: 2.5%;
    	margin-top: 2.5%;
      margin-bottom: 2.5%;
  	}
	.md-tp2 {
  		float: left;
    	width: 95%;
    	margin-left: 2.5%;
    	margin-top: 2.5%;
      margin-bottom: 2.5%;
  }
}

/************ Small devices only (mobile) ************/
@media (max-width: 767px) {
	.sm {
  		float: left;
    	width: 95%;
    	margin-left: 2.5%;
    	margin-top: 2.5%;
      margin-bottom: 2.5%;
  }
}